.navbar{
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: end;
    padding-left:10px;
}

ul{
  list-style-type: none;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #3EB489;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    margin-left:10px
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #3EB489;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }