
.discordLink, .portfolioLink, .simpleViewLink {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #3EB489;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    text-decoration: none
}

.code{
  margin-top: 10px;
}

.Carousel{
  max-width: 900px;
  margin:auto;
}

#Projects{
  margin-top: 260px;
  padding-top: 40px;
}