#Skills{
  margin-top: 450px;

}

.skillsHeader{
  margin: 0;
}

.icon, .iconT{
  max-width: 96px;
  max-height: auto;
  padding-top: 200px;
  padding-right: 300px;
}

.icons, .three{ 
  display: flex;
  flex-wrap: wrap; 
}

.icons .icon:hover, .iconT:hover{/*img:hover{*/
  min-height: 150px;
  min-width: 150px;
  padding-right: 246px;
  padding-top: 100px;
}

.icons .four:hover{
  top:75px;
  left: 200px;
}

.four{
  position: relative;
  max-width: fit-content;
  max-height: auto;
  left: 230px; 
} 

.three{
  position: relative;
  max-width: fit-content;
  max-height: auto;
  left: 420px;
}



.icons .three:hover{
  top:75px;
  left: 390px;
}




